<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EPOCHモックサイト</title>
    </head>
    <body>
        <h1>EPOCHモックサイト</h1>
        <hr/>
        <h3>ワークスペース管理機能</h3>
        <ul>
            <li><a href="./EPOCH_WorkspaceList.html" target="_blank">ワークスペース一覧</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate1.html" target="_blank">ワークスペース作成（1.ワークスペース名指定）</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate2.html" target="_blank">ワークスペース作成（2.環境構成）</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate3.html" target="_blank">ワークスペース作成（3.EPOCH導入クラスター指定）</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate4.html" target="_blank">ワークスペース作成（4.リポジトリ指定）</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate5.html" target="_blank">ワークスペース作成（5.確認）</a></li>
        </ul>
        <ul>
            <li><a href="./EPOCH_WorkspaceCreate6.html" target="_blank">ワークスペース作成（6.完了）</a></li>
        </ul>

        <hr/>

        <h3>参考情報</h3>

        <ul>
            <li><a href="https://adminlte.io/themes/v3/" target="_blank">AdminLTEサイト</a></li>
        </ul>
        
        <ul>
            <li>
                反映コマンド
<pre>
cd /home/epoch-mockup-site
git add .; git commit -m "update"; git push -u origin main
oc exec -it epoch-mockup-site-git-test2-7bc97bf8c6-2ch8v -n epoch-test -- bash -c "git pull"
</pre>
            </li>
        </ul>
        <hr/>
    </body>
</html>